
<form name="sequenceform" ng-controller="sequenceController as sequence" ng-submit="sequence.generatesequence()">

    <div class="form-group">
        <label for="sequencetype">Sequence Types</label>
        <select name="sequencetype" class="form-control" id="sequencetype" 
                ng-model="sequence.type" required ng-options="seq as seq.Name for seq in sequence.sequencetypes track by seq.ID">            
            <option value="" >Select Sequence type</option>
        </select>
        <span class="error" ng-show="sequenceform.sequencetype.$error.required">Please select a sequece type</span>
    </div>

    <div class="form-group">
        <label for="inputnumber">Enter a Number</label>
        <input type="number" min="0" class="form-control" required ng-model="sequence.input" id="inputnumber" name="input" placeholder="Enter the number">
        <span class="error" ng-show="sequenceform.input.$error.required">Please enter a number</span>
    </div>

    <label for="inputnumber">Sequence</label>
    <nav>
        <ul class="pagination">           
            <li ng-repeat="seq in sequence.generatedsequence track by $index"><a href="#">{{seq}}</a></li>
        </ul>
    </nav>
    <button type="submit" ng-disabled="" class="btn btn-default" >Submit</button>

</form>

